/*
Beginning of CSS Styling 
 */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
body {
  background-color: #d4f0f7;
  text-align: center;
}
/* .game-container{
     /* background-color: red; */
/* margin-left: auto;
     margin-right: auto;
     max-width: 20rem; */
/* }  */
/* #game-board{ */
/* width: 400px;
     height: 400px; */
/* } */
